a {text-decoration:none;}
body{ margin:0px; padding:0px; background-color:#FFFFFF;}

h1 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size:15px; 
	font-weight:300;
	text-transform:uppercase;
	margin: 0px auto;
	}

h2 {
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-size:15px; 
		font-weight:300;
		text-transform:uppercase;
		margin: 0px auto;
		}
	 
@font-face {
    font-family: 'awesome';
        src: url('/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
	     url('/fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('/fonts/fontawesome-webfont.svg#awesome') format('svg'); /* Legacy iOS */
}
.tsw_menu_ins{width:100%;  position:absolute; top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);z-index:15; text-align:center;}
.tsw_menu_ins ul {
  list-style-type: none;
  margin: 0px auto;
  overflow: hidden;
  background-color: #FFF;
  text-align:center;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  font-size:15px; 
  font-weight:300;
  text-transform:uppercase;
}

.tsw_menu_ins ul li {
	display: inline-block;
	
}



.tsw_menu_ins ul li a {
  display: block;
  color: #666;
  padding:3px 4px 2px 4px;
  margin:0px 10px 0px 10px;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;
}
.tsw_menu_ins ul li a:hover {
  background-color: #666;
  color: #FFF;
}

.tsw_menu_ins ul li ul {
	position:absolute;
	z-index:200;
	opacity:0;
  	list-style-type: none;
  	margin: 34px 0px 10px 0px;
	padding:0px 0px 10px 0px;
  	padding: 0;
 	width: 230px;
  	background-color: #f1f1f1;
	text-align:left;
	  font-family: 'Poppins', sans-serif;
	  font-size:14px; 
	  line-height:17px;
	  font-weight:300;	
	-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;
	visibility:hidden;
}



.tsw_menu_ins ul li ul li a {
	text-align:left;	
  display: block;
  color: #000;
  padding:3px 5px 3px 5px;
  text-decoration: none;
  margin-bottom:5px;
}

.tsw_menu_ins ul li ul li a:hover {
  background-color: #555;
  color: white;
}
.tsw_menu_ins ul li:hover > ul{
	visibility:visible;
	opacity:1;
	background-color:#FFF;
}


.se_menu_se_back{ width:100%; text-align:left; position:relative; z-index:100;}
.new_se_box_left{width:76%; height:40px; float:left; margin-left:0%; border:2px solid #b66e6e; position:relative; z-index:1;}
.new_se_box_input{width:90%; height:30px; border:0px; padding-left:10px; padding-top:2px;font-family: 'Poppins', sans-serif;font-size:15px; color:#818181; background-color:#FFF; font-style:italic;position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;}
.new_se_box_right{width:20%; height:40px;float:left;text-align:center; cursor:pointer; background-color:#b66e6e; border:2px solid #b66e6e; position:relative; cursor:pointer;}
.new_se_box_right_ins{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:center;}
.new_se_box_right_ins_lupe_cont{width:25%;float:left;text-align:center; height:40px; position:relative;}
.new_se_box_right_ins_lupe_cont_ins{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);
}.new_se_box_right_ins_lupe_cont_ins img{width:80%; max-width:80%;  height:auto; border:0px; max-height:30px; width:auto;}
.new_se_box_right_ins_text_cont{width:75%;float:left;height:40px; position:relative;}
.new_se_box_right_ins_text_cont_text{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);font-family: 'Poppins', sans-serif;font-size:17px; color:#FFF;text-align:center; text-transform:uppercase;}
.top_line_lft_icon{ float:left; width:auto; margin:0px 2px 0px 5px;font-family: 'awesome', sans-serif;font-size: 14px; color:#FFF;}
.top_line_lft_text{ float:left; width:auto; margin:0px 5px 0px 3px;font-family: 'Lato', sans-serif;font-size: 13px; color:#FFF; font-weight:200;}


.login_button_abs_mrg:hover{background-color:#FFF;}
.login_button_abs_mrg:hover .login_button_abs .login_button_abs_ins{color:#873030;}
.login_button_abs_mrg:hover .login_button_abs .login_button_abs_ins span{color:#873030;}

.login_button_abs{position:relative; height:40px; width:100%;}
.login_button_abs_ins{position:absolute; width:100%; text-align:center;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);font-family: 'Poppins', sans-serif;font-size: 13px; color:#FFF; font-weight:300; text-transform:uppercase;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.login_button_abs_ins span{ font-family: 'awesome', sans-serif;font-size: 14px; color:#FFF;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}


.login_button_abs_no_mrg:hover{background-color:#FFF;}
.login_button_abs_no_mrg:hover .login_button_abs .login_button_abs_ins{color:#873030;}
.login_button_abs_no_mrg:hover .login_button_abs .login_button_abs_ins span{color:#873030;}





.termek_items_fullcont{width:92%; margin:0px auto; display:inline-block; text-align:center; position:relative; border-bottom:1px dashed #aeaeae;}
.shpteopm_termek_block_logo_cont{position:absolute; right:0px; top:0px; z-index:1;display: inline-block; width:50px;}

.shpteopm_termek_block_news_cont{position:absolute; left:0px; top:50px; z-index:1;display: inline-block; width: auto;}
.uj_div_conts{position:absolute; width:40px; height:32px; left:0px; top:28px;background: rgba(255, 255, 255, 0.8); border-radius:0px; z-index:12; display:table;margin-top:0px; border-bottom:1px solid #b66e6e;border-top:1px solid #b66e6e;border-right:1px solid #b66e6e;border-left:1px solid #b66e6e;}
.uj_div_conts_ins{display:table-cell; vertical-align:middle;font-family:'Cabin',Verdana, Arial, Helvetica, sans-serif; margin:0px auto; font-size:14px; color:#b66e6e; font-weight:400;}
.akcio_div_conts{position:absolute; width:60px; height:32px; left:3px;background: rgba(160, 0, 0, 0.9); border-radius:0px; z-index:11; display:table;margin-top:0px;}
.akcio_div_conts_ins{display:table-cell; vertical-align:middle;font-family:'segaue_semilight',Verdana, Arial, Helvetica, sans-serif; margin:0px auto;  font-size:14px; color:#FFFFFF; font-weight:400;}
.shpteopm_termek_block_percent_block{position:absolute; right:0px; top:75px; z-index:2;display: inline-block; padding:3px 6px 3px 6px; background-color:#873030; color:#fcff00;font-family: 'Cabin', Verdana, Helvetica, sans-serif;font-size:28px; border:0px solid #FFF;}


.term_gyartonev_cont{width:80%; max-width:80%;height:40px;overflow:hidden; position:relative;}
.term_gyartonev_cont_kezd_item_title{width:100%;position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:left;font-family: 'Lato', Verdana, Helvetica, sans-serif;font-size:19px; line-height:20px;color:#383838; text-transform:uppercase; max-height:40px; overflow:hidden; font-weight:700;}




.inside_partners_kezd_tag_item_img_cont{width:100%; margin-left:0%; text-align:center; height:300px; overflow:hidden; position:relative;}
.inside_partners_kezd_tag_item_img_cont_ins{width:90%; margin:0px auto;  height:300px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; padding:0px; overflow:hidden; }
.inside_partners_kezd_tag_item_img_cont:hover .inside_partners_kezd_tag_item_img_cont_ins{transform: scale(1.1);}
.inside_termek_kepek_vertical{width:100%; max-width:100%; height:auto; max-height:260px;width:auto;margin:0px auto;position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding-top:5px; padding-bottom:5px;border:0px;}
.inside_termek_kepek_horizontal{max-width:95%;max-height:270px;width:auto;margin:0px auto;position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding-top:5px; padding-bottom:5px; }




.tpmn_inside_se_logos_vertical{width:90%; max-width:90%;   height:auto;max-height:40px; width:auto; border:0px;}
.tpmn_inside_se_logos_horizontal{margin:0px auto;height:40px;width:auto;border:0px;}


.lapozo{
	font-family: 'segaue_semilight', sans-serif;
    font-size: 18px;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	margin-top:0px;

}
.lapozo a{
	color:#666666;
	text-decoration:none;
}
.lapozo a:hover{
	color:#666666;
	text-decoration:underline;
}
.lapozo_nyil{
	font-family: 'segaue_semilight', sans-serif;
    font-size: 12px;
	color:#666666;
	text-decoration:none;
	text-align:center;
	margin-top:0px;
}
.lapozo_nyil a{
	color:#666666;
	text-decoration:none;
}
.lapozo_nyil a:hover{
	color:#666666;
	text-decoration:underline;
}
.lapoz_holder{
	text-align:center;
	width:99%;
	clear:both;
	margin:0px auto;
	margin-top:10px;
	border-top:1px solid #f2f2f2;
}
.lapoz_arrows{
	height:40px;
	border:0px solid #00CC66;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
.lapoz_arr_box_1{width:35px;height:35px; margin:0px auto;border:0px solid #CCCC66; float:left;cursor:pointer;font-family: 'segaue_semilight', sans-serif; font-size: 18px;color:#666666;text-decoration:none;text-align:center;margin-top:0px;}
.lapoz_arr_box_2{width:35px;height:35px; margin:0px auto;border:0px solid #CCCC66; float:left;font-family: 'segaue_semilight', sans-serif; font-size: 20px;color:#666666;text-decoration:none;text-align:center;margin-top:0px;}
.lapoz_arr_box_3{width:35px;height:35px; margin:0px auto;border:0px solid #CCCC66; float:left;}
.lapoz_arr_box_akt{width:35px;height:35px; margin:0px auto;border:0px solid #CCCC66; float:left;background-color:#2a2a2a;font-family: 'segaue_semilight', sans-serif; border-radius:1px; font-size: 18px;color:#FFFFFF;}

select.sl_szur {
  margin:  10px 0px 15px 5px;
  border: 1px solid #111;
  background: transparent;
  width: 200px;
  padding: 5px 5px 5px 5px;
  font-family: 'Poppins', sans-serif; font-size:16px; color:#333333; 
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/images/select-arrow.png) 96% / 10% no-repeat #eee;
}
.inside_cont_all_cont{width:100%; display:inline-block; text-align:center; position:relative; border-top:3px solid #873030;}
.inside_cont_all_cont_incont_nomarg{width:100%; display:inline-block; text-align:center; position:relative;}
.inside_cont_all_cont_incont_nomarg_mrgtop20{margin:20px 0px 0px 0px; !important}
.inside_cont_all_cont_incont_nomarg_mrgtopbtn20{margin:20px 0px 20px 0px; !important}
.inside_cont_all_cont_incont_nomarg_height_40{ height:40px; !important}
.inside_cont_all_cont_incont_sord_chosse_cont{width:99%; margin:0px auto; text-align:right; border-bottom:1px solid #f2f2f2;}
.inside_cont_all_cont_se_ins{width:100%; display:inline-block; text-align:center; position:relative; margin:10px 0px 20px 0px;background-image: url('/images/bg_tart_divider_amin.png');background-repeat: repeat-y;background-position: left 20% top;}

.allcont_wheris_cont{width:98%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:left; margin:0px 0px 0px 1%;font-family: 'Poppins', sans-serif; font-size:14px; color:#989898;}
.allcont_wheris_cont a{color: #989898;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;
}
.allcont_wheris_cont a:hover { #666;color: #b66e6e;
}
.no_termeks{ width:98%; margin:10px 0px 0px 2%;font-family: 'Poppins', sans-serif;font-size:18px; text-align:left; color:#383838; font-weight:200;}
.kateg_divider_text_cont{width:100%; display:inline-block; text-align:center; position:relative; margin:10px 0px 10px 0px;}
.kateg_divider_text_cont_ins{width:99%; max-width:1600px; margin:0px auto; text-align:center; display:inline-block;}
.kateg_divider_text_cont_ins_width100{ max-width:100%; !important}


.knyvar_allsite_text{width:100%;font-family: 'Poppins', sans-serif;font-size:19px; color:#565656; text-transform:none; font-weight:normal; text-align:left; line-height:25px; clear:both;}
.knyvar_allsite_text_justifíy{
	text-align: justify; !important; 
}
.knyvar_allsite_text_for_video_block{
	margin:10px 0px 10px 0px; !important; 
}
.knyvar_allsite_text p{ margin:0px; padding:5px 0px 5px 0px; clear:both;}
.knyvar_allsite_text a{color:#873030;background-color:transparent; font-weight:normal;padding:0px 2px 0px 2px;text-decoration:none;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.knyvar_allsite_text a:hover{color:#FFFFFF; background-color:#873030;font-weight:normal;padding:0px 2px 0px 2px;text-decoration:none;}
.knyvar_allsite_text img{ width:100%; max-width:100%; height:auto; margin-left:0%;}
.knyvar_allsite_text h1{font-family: 'Poppins', sans-serif;font-size:28px;text-transform:none; color:#873030; font-weight:700;line-height:35px;margin:0px; padding:10px 0px 10px 0px; float:none;}
.knyvar_allsite_text h2{font-size:23px; width:100%; text-align:left;text-transform:none; color:#873030; font-weight:600;line-height:28px;margin:0px; padding:10px 0px 10px 0px;}
.knyvar_allsite_text h3{font-size:20px;text-transform:none; color:#873030; font-weight:400;line-height:24px;margin:0px; padding:10px 0px 5px 0px;}
.knyvar_allsite_text h4{font-size:17px;text-transform:none; color:#873030; font-weight:300;line-height:21px;margin:0px; padding:10px 0px 5px 0px;}
.knyvar_allsite_text ul{padding:0px; margin:0px auto; margin-top:10px; margin-bottom:10px; width:98%; max-width:98%; text-align:left;}
.knyvar_allsite_text ul li{padding:3px 0px 3px 0px;width:100%; max-width:100%; margin:0px; font-size:18px; font-weight:400; line-height:24px;font-family: 'Poppins', sans-serif;  background: url('/images/dott.png') no-repeat left;
  padding: 3px 0px 3px 30px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;}
.knyvar_allsite_text ul li a{color:#b66e6e;background-color:transparent;padding:0px 2px 0px 2px;text-decoration:none;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.knyvar_allsite_text ul li a:hover{color:#FFFFFF; background-color:#b66e6e;font-weight:normal;padding:0px 2px 0px 2px;text-decoration:none;}

.knyvar_allsite_text p iframe{width:100%; max-width:100%; margin-left:0%;height:550px;}
.knyvar_allsite_text blockquote {
  background: transparent;
  border-left: 5px solid #5393cf;
  margin: 10px 0px 10px 10px;
  font-family: 'Roboto', sans-serif;font-size:24px; color:#5393cf; line-height:28px;
  padding: 10px 0px 10px 10px;
}
.knyvar_allsite_text blockquote p {
  display: inline;
}
.knyvar_allsite_text .col50{ width:50%;float:left;}
.knyvar_allsite_text table{ width:100%; margin:10px 0px 10px 0%; border:1px solid #CCCCCC;padding:0px; border-collapse:collapse;}

.knyvar_allsite_text table td{ border:1px solid #CCCCCC; margin:0px; padding:4px 0px 4px 3px;}



@media only screen and (max-width: 3000px) {
.sws_topline_cont{width:100%;height:40px; background-color:#b66e6e; position:relative;}
.sws_topline_cont_infos_cont{width:90%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); display:inline-block; margin:0px 0px 0px 0px;}
.login_button_abs_no_mrg{width:10%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:0%;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.login_button_abs_mrg{width:10%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:10%; border-right:1px solid #FFF;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}

.login_button_abs_mrg_rgt20{
	right:20%;border-right:2px solid #FFF; !important; 
}
.login_button_abs_mrg_rgt10{
	right:10%;border-right:1px solid #FFF; !important; 
}

.ter_pirces_cont{width:100%;height:50px;overflow:hidden; position:relative; margin:10px 0px 0px 0px;}
.ter_pirces_cont_lft{width:40%; float:left; height:40px; position:relative; text-align:left;}
.ter_pirces_cont_rgt{width:60%; float:left;height:40px; position:relative;  text-align:right;}
.ter_pirces_cont_origin_ar{position:absolute; width:100%; z-index:1;top: 60%; -webkit-transform: translateY(-60%);-ms-transform: translateY(-60%);transform: translateY(-60%);float:none; left:6%;font-family: 'Cabin', sans-serif;font-size:24px;color:#36353b;}
.ter_pirces_cont_akt_ar_cont{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);float:right; right:6%;}
.ter_pirces_cont_akt_ar_cont_font{background-color:#873030; padding:2px 12px 2px 12px;margin-left:0%;font-family: 'Cabin', sans-serif;font-size:28px;color:#FFF;}
.ter_pirces_cont_akt_ar_cont_font span{font-size:12px;}
.strikeout_terdet_ar {
  font-size: 20px;
  line-height: 0em;
  position: relative;
  color:#505050;
}
.strikeout_terdet_ar::after {
  border-bottom: 2px solid rgba(237, 35, 51, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 58%;
}
.inside_cont_all_cont_se_ins_lft{width:20%; float:left; display:inline-block; text-align:center;}
.inside_cont_all_cont_se_ins_rgt{width:80%; float:left; display:inline-block; text-align:center;}
.kosar_cont_blo_lft{width:70%; text-align:center; float:left; position:relative; display:inline-block;}
.kosar_cont_blo_lft_ins{width:96%; margin:0px auto; display:inline-block; text-align:center;}
.kosar_cont_blo_rgt{width:30%; text-align:center; float:left; position:relative; display:inline-block;}
.kosar_cont_blo_rgt_ins{width:96%; margin:0px auto; background-color:#e4e4e4; display:inline-block; text-align:center;}
.term_termeknev_cont{width:100%;height:40px;overflow:hidden; position:relative;}
.inside_partners_kezd_item_title{width:100%; max-width:100%;position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:left;font-family: 'Lato', Verdana, Helvetica, sans-serif;font-size:15px; line-height:16px;color:#383838; text-transform:uppercase; max-height:50px; overflow:hidden; font-weight:400;}
.keszt_kezd_kat_title_akt{width:100%;background: url(/images/bg_vert_akt.png) repeat-x 50% 50%;}
.keszt_kezd_kat_title_akt span{width:100%;font-family: 'Poppins', sans-serif;font-size:34px;color:#3c3c3c; text-transform:uppercase; z-index:1;background-color: #FFF; padding:0px 10px 0px 10px; font-weight:300;}

.kosar_pic_left{ width:20%; float:left; height:100px; display:block;}
.kosar_text_left{ width:43%; margin-left:2%;float:left; position:relative; height:100px;}
.kosar_text_left_text{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:17px;color:#9c9c9c; text-align:left;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.kosar_text_left_text a{color:#873030;background-color:transparent;padding:0px;text-decoration:none;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all; padding:0px 3px 0px 3px;}
.kosar_text_left_text a:hover{color:#FFF;padding:0px;text-decoration:none; background-color:#873030; padding:0px 3px 0px 3px;}
.kosar_text_left_text span{ color:#3c3c3c;font-family: 'Poppins', Verdana, Helvetica, sans-serif;}
.kosar_text_left_text span.forgika{ color:#9c9c9c;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:13px; display:block;}
.kosar_text_center_text{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:18px;color:#bd0000;font-weight:400; text-align:center;}

.kosar_text_ar{width:13%; margin-left:2%;float:left; position:relative; height:100px;}
.kosar_text_muv{width:18%; margin-left:2%;float:left; position:relative; height:100px;}
.kosar_text_left_text_float{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px;color:#434343;font-weight:400; text-align:left; float:right; margin-left:4px;}
.kosar_text_left_text_float_db{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px;color:#434343;font-weight:400; text-align:left; float:right; margin-left:4px;}
.kosar_text_left_text_float img{ width:100%; max-width:100%; height:auto; border:0px;}
.rounded_cart_forkosar{width:38px; height:38px; background-color:e5f9d6; border:1px solid #b66e6e; text-align:center;font-family: 'Poppins', Arial, Verdana, Helvetica, sans-serif, sans-serif;font-size: 16px; color:#434343; margin:0px auto;}
.inputimage_for_kos{ width:100%; max-width:100%; height:auto; border:0px;}
.termek_det_image_szeles_kos{width:60%; max-width:60%; height:auto; max-height:90px;width:auto;margin:0px auto;position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding-top:5px; padding-bottom:5px;border:0px; }
.termek_det_image_hosszu_kos{ max-width:100%;max-height:90px;width:auto;margin:0px auto;position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding-top:5px; padding-bottom:5px;border:0px;}

.kosar_sum{font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:22px;color:#9f0000;font-weight:700; text-align:right; width:100%; margin-top:15px;}
.kosar_sum_szallitas{font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px;color:#9f0000;font-weight:400; text-align:right; width:100%; margin-top:10px;}
.block_separ_title{width:100%; text-align:left;font-family: 'Poppins', Arial, Verdana, Helvetica, sans-serif, sans-serif;font-size:21px;  font-weight:400; text-transform:uppercase; color:#404040; padding-bottom:3px; border-bottom:1px dashed #d1d1d1; margin-top:30px;}
select.sl_szur_kos {
  margin:  2px 0px 2px 0px;
  border: 4px solid #b66e6e;
  background: #dcdcdc;
  width: 200px;
  padding: 4px 0px 4px 0px;
  font-family: 'Poppins', sans-serif; font-size:14px; color:#333333; 
  border: 1px solid #bbbbbb;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/images/select-arrow.png) 96% / 10% no-repeat #eee;
}

.topm_kosar_sumar_cont{ width:100%; text-align:right; margin:10px 0px 10px 0%;}
.topm_kosar_sumar_cont_font{background-color:#bd0000; padding:5px 25px 10px 25px;margin-left:0%;font-family: 'Cabin', Verdana, Helvetica, sans-serif;font-size:58px;color:#FFF; position:relative;}
.topm_kosar_sumar_cont_font_abs_div{position:absolute; left:25px; top:5px;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:14px;color:#FFF;}
.topm_kosar_sumar_cont_font span{ margin:0px; padding:0px;}



.kosar_summa_title_blokk{width:100%; text-align:center;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:21px;color:#000; text-transform:uppercase; margin:10px 0px 10px 0px;}
.kosar_summa_blokk{ width:100%; padding:10px 0px 10px 0px; border-bottom:1px solid #c9c9c9; display:inline-block; clear:both;}
.kosar_summa_blokk_lft{width:50%; float:left;text-align:left;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px;color:#000; text-transform:none; }
.kosar_summa_blokk_rgt{width:50%;float:left;text-align: right;font-family: 'Cabin', sans-serif;font-size:15px;color:#000; text-transform:none; font-weight:400;}

.kosar_summa_blokk_sum{ width:100%; padding:20px 0px 20px 0px; border-bottom:0px solid #c9c9c9; display:inline-block; clear:both;}
.kosar_summa_blokk_lft_sum{width:50%; float:left;text-align:left;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:19px;color:#000; text-transform:none; }
.kosar_summa_blokk_rgt_sum{width:50%;float:left;text-align: right;font-family: 'Cabin', sans-serif;font-size:19px;color:#873030; text-transform:none; font-weight:400;}

.kosar_cont_blo_rgt_ins_ins{width:96%; margin:0px auto; display:inline-block; text-align:center;}

.kosar_button_nextstep_sw{
	font-family: 'Poppins', sans-serif;
    font-size: 20px;
	color:#FFF;
	background-color:#000;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	font-weight:400;
	padding:8px 0px 8px 0px;
	border:1px solid #000;
	cursor:pointer;
	font-weight:400;
	text-transform: uppercase;
	width:100%;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.kosar_button_nextstep_sw:hover{
	color:#000;
	background-color:#FFF;
	border:1px solid #000;
}

}

@media only screen and (max-width: 1024px) { 
.sws_topline_cont_infos_cont{width:90%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); display:none;}
.login_button_abs_no_mrg{width:20%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:0%;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.login_button_abs_mrg{width:20%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:20%; border-right:1px solid #FFF;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
}


@media only screen and (max-width: 768px){

.login_button_abs_no_mrg{width:30%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:0%;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.login_button_abs_mrg{width:30%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:30%; border-right:1px solid #FFF;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}

.login_button_abs_mrg_rgt20{
	right:60%;border-right:2px solid #FFF; !important; 
}
.login_button_abs_mrg_rgt10{
	right:30%;border-right:1px solid #FFF; !important; 
}

.ter_pirces_cont{width:100%;height:50px;overflow:hidden; position:relative; margin:10px 0px 0px 0px;}
.ter_pirces_cont_lft{width:40%; float:left; height:40px; position:relative; text-align:left;}
.ter_pirces_cont_rgt{width:60%; float:left;height:40px; position:relative;  text-align:right;}
.ter_pirces_cont_origin_ar{position:absolute; width:100%; z-index:1;top: 60%; -webkit-transform: translateY(-60%);-ms-transform: translateY(-60%);transform: translateY(-60%);float:none; left:6%;font-family: 'Cabin', sans-serif;font-size:24px;color:#36353b;}
.ter_pirces_cont_akt_ar_cont{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);float:right; right:6%;}
.ter_pirces_cont_akt_ar_cont_font{background-color:#873030; padding:2px 12px 2px 12px;margin-left:0%;font-family: 'Cabin', sans-serif;font-size:28px;color:#FFF;}
.strikeout_terdet_ar {
  font-size: 20px;
  line-height: 0em;
  position: relative;
  color:#505050;
}
.strikeout_terdet_ar::after {
  border-bottom: 2px solid rgba(237, 35, 51, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 58%;
}
.inside_cont_all_cont_se_ins_lft{width:100%; float:none; display:inline-block; text-align:center;}
.inside_cont_all_cont_se_ins_rgt{width:100%; float:none; display:inline-block; text-align:center;}
.kosar_cont_blo_lft{width:100%; text-align:center; float:none; position:relative; display:inline-block;}
.kosar_cont_blo_lft_ins{width:96%; margin:0px auto; display:inline-block; text-align:center;}
.kosar_cont_blo_rgt{width:100%; text-align:center; float:none; position:relative; display:inline-block;}
.kosar_cont_blo_rgt_ins{width:96%; margin:0px auto; background-color:#e4e4e4; display:inline-block; text-align:center;}

.kosar_pic_left{ width:0%; float:left; height:100px; display:none;}
.kosar_text_muv{width:38%; margin-left:2%;float:left; position:relative; height:100px;}

.kosar_text_left_text{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:14px;color:#9c9c9c; text-align:left;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.kosar_text_left_text a{color:#873030;background-color:transparent;padding:0px;text-decoration:none;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all; padding:0px 0px 0px 0px;}
.kosar_text_left_text a:hover{color:#FFF;padding:0px;text-decoration:none; background-color:#873030; padding:0px 0px 0px 0px;}
.kosar_text_ar{width:13%; margin-left:2%;float:left; position:relative; height:100px;}
.kosar_text_center_text{position:relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px;margin-right:2%;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:14px;color:#bd0000;font-weight:400; text-align:center;}
}

@media only screen and (max-width: 479px){
.login_button_abs_no_mrg{width:33.33%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:0%;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}

.login_button_abs_mrg_rgt20{
	right:66.66%;border-right:2px solid #FFF; !important; 
}
.login_button_abs_mrg_rgt10{
	right:33.33%;border-right:1px solid #FFF; !important; 
}
.login_button_abs_ins{position:absolute; width:100%; text-align:center;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);font-family: 'Poppins', sans-serif;font-size: 11px; color:#FFF; font-weight:300; text-transform:uppercase;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}


.login_button_abs_mrg{width:40%; margin:0px 0% 0px 0px;position:absolute; height:40px; background-color:#873030; right:40%; border-right:1px solid #FFF;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.ter_pirces_cont{width:100%;height:50px;overflow:hidden; position:relative; margin:10px 0px 0px 0px;}
.ter_pirces_cont_lft{width:40%; float:left; height:40px; position:relative; text-align:left;}
.ter_pirces_cont_rgt{width:60%; float:left;height:40px; position:relative;  text-align:right;}
.ter_pirces_cont_origin_ar{position:absolute; width:100%; z-index:1;top: 60%; -webkit-transform: translateY(-60%);-ms-transform: translateY(-60%);transform: translateY(-60%);float:none; left:6%;font-family: 'Cabin', sans-serif;font-size:20px;color:#36353b;}
.ter_pirces_cont_akt_ar_cont{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);float:right; right:6%;}
.ter_pirces_cont_akt_ar_cont_font{background-color:#873030; padding:2px 12px 2px 12px;margin-left:0%;font-family: 'Cabin', sans-serif;font-size:20px;color:#FFF;}

.strikeout_terdet_ar {
  font-size: 15px;
  line-height: 0em;
  position: relative;
  color:#505050;
}
.strikeout_terdet_ar::after {
  border-bottom: 2px solid rgba(237, 35, 51, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 58%;
}
.knyvar_allsite_text{font-size:15px;line-height:20px;}
.term_termeknev_cont{width:100%;height:40px;overflow:hidden; position:relative;}
.inside_partners_kezd_item_title{width:100%; max-width:100%;position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);text-align:left;font-family: 'Lato', Verdana, Helvetica, sans-serif;font-size:12px; line-height:13px;color:#383838; text-transform:uppercase; max-height:50px; overflow:hidden; font-weight:400;}
.keszt_kezd_kat_title_akt{width:100%;background: url(/images/bg_vert_akt.png) repeat-x 50% 50%;}
.keszt_kezd_kat_title_akt span{width:100%;font-family: 'Poppins', sans-serif;font-size:24px;color:#3c3c3c; text-transform:uppercase; z-index:1;background-color: #FFF; padding:0px 10px 0px 10px; font-weight:300;}

.kosar_text_ar{width:0%; margin-left:0%;float:left; position:relative; height:100px; display:none;}
.kosar_text_muv{width:53%; margin-left:2%;float:left; position:relative; height:100px;}
}

@media only screen and (max-width: 3000px) {
.termek_gyrt_logo_image_szeles{width:95%; max-width:95%; height:auto; max-height:40px;width:auto;margin:0px auto;position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);border:0px; left:0px; z-index:1;}
.termek_gyrt_logo_image_hosszu{ max-width:95%;max-height:50px;width:auto;margin:0px auto;position:absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); border:0px;left:0px; z-index:1;}
.term_det_cikkszam_cont{ position:absolute; z-index:2; right:1%; font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:14px; line-height:20px;color:#afafaf; text-transform:uppercase;font-weight:normal;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.term_det_termek_nev{ width:100%;margin:10px 0px 20px 0px; position:relative; text-align:left; font-family: 'Lato', Verdana, Helvetica, sans-serif;font-size:24px; line-height:20px;color:#383838; text-transform:uppercase;font-weight:700;}

.topm_terdet_price_cont_mretes_container{width:100%; display:inline-block; text-align:center;margin:20px 0px 0px 0px; position:relative;}
.topm_terdet_price_cont_mretes_container_left{width:15%; float:left; height:60px; position:relative; background-color:#d9d9d9;}
.topm_terdet_price_cont_mretes_container_left_numb_cont{width:80%; background-color:#FFF; height:44px; margin:8px 5px 0px 10%; position:relative;}
#topm_terdet_price_cont_mretes_container_left_numb_cont_ins{position:absolute; width:90%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); left:0px; text-align:center;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:22px;color:#444444; }

.topm_terdet_price_cont_mretes_container_left_numb_cont_updown_cont{position:absolute; z-index:2;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); width:20%; right:6px; text-align:center;}
#topm_terdet_price_cont_mretes_container_left_numb_cont_updown_cont_up{font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:17px;color:#444444; cursor:pointer;}
#topm_terdet_price_cont_mretes_container_left_numb_cont_updown_cont_down{font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:17px;color:#444444; cursor:pointer;}

.topm_terdet_price_cont_mretes_container_rgt{width:74%; margin:0px 0px 0px 2%; float:left; height:60px; position:relative;background-color:#000;}
.topm_terdet_price_cont_mretes_container_rgt_ins{width:100%;  height:50px; margin:5px 5px 0px 0px; position:relative; cursor:pointer;}
.topm_terdet_price_cont_mretes_container_rgt_ins_text{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); width:100%; text-align:center; color:#FFF; text-transform:uppercase;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:18px;}
.topm_terdet_price_cont_mretes_container_rgt_ins_text span{font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:17px; padding:0px 0px 0px 10px;}

#kosar_felkialt {
    margin-top:0px;
    margin-left:0px;
    background:#873030;
    position:absolute;
	z-index:10;
	display:none;
	font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:12px; line-height:15px;
	color:#FFF;
	padding:3px 5px 3px 5px;
	max-width:340px;
	width:340px;
	text-transform:none;
	text-align:left;
}
.term_det_count_cont{width:100%; margin:10px 0px 10px 0px; position:relative; text-align:left; font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:16px; line-height:20px;color:#873030; text-transform:normal;font-weight:normal;}

.topm_terdet_price_cont_origin_ar{ width:100%;margin:30px 0px 0px 0px; text-align:left;font-family: 'Lato', Verdana, Helvetica, sans-serif;font-size:16px;color:#36353b;}


.strikeout_topm_terdet_price_cont_origin_ar {
  font-family: 'Cabin', Verdana, Helvetica, sans-serif;font-size:22px;color:#36353b;
  line-height: 0em;
  position: relative;
}
.strikeout_topm_terdet_price_cont_origin_ar::after {
  border-bottom: 2px solid rgba(237, 35, 51, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 60%;
}

.topm_terdet_price_cont_font_abs_div{position:absolute; left:30px; top:5px;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:14px;color:#FFF;}
.topm_terdet_price_cont_aktual_ar{ width:100%; text-align:left; margin:30px 0px 10px 0px;}
.topm_terdet_price_cont_font{background-color:#b66e6e; padding:15px 30px 10px 30px;margin-left:0%;font-family: 'Cabin', Verdana, Helvetica, sans-serif;font-size:50px;color:#FFF; position:relative;}

.sws_termekdets_lft{width:55%; float:left; text-align:center; position:relative;}
.sws_termekdets_rgtt{width:45%; float:left; text-align:center; position:relative;}

}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.sws_termekdets_lft{width:96%; float:none; text-align:center; position:relative; margin:0px 0px 0px 2%;}
.sws_termekdets_rgtt{width:96%; float:none; text-align:center; position:relative; margin:0px 0px 0px 2%;}
}

@media only screen and (max-width: 479px){

}
@media only screen and (max-width: 3000px) {
.topm_terdet_infoblokk_cont{width:99%; display:inline-block; text-align:center; position:relative; border-top:0px solid #873030;}
.topm_terdet_infoblokk_cont_ins{width:100%; display:inline-block; text-align:center; position:relative; margin:10px 0px 0px 0px;background-image: url('/images/bg_tart_divider_amin.png');background-repeat: repeat-y;background-position: left 50% top;}
.spec_teto{width:94%; margin:10px 0px 10px 3%; position:relative; text-align:left; font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:22px; line-height:20px;color:#000; text-transform: uppercase;font-weight:600; border-bottom:1px solid #e8e8e8; padding:0px 0px 10px 0px;}
.spec_teto_lista_cont{width:94%; margin:2px 0px 10px 0px; position:relative;  border-bottom:1px solid #e8e8e8; padding:0px 0px 10px 0px; clear:both; display:inline-block;}
.spec_teto_lista_cont_lft{ width:35%; float:left;text-align:left; font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px; line-height:20px;color:#000; text-transform: none;font-weight:600;}
.spec_teto_lista_cont_rgt{ width:65%;float:left;text-align:right; font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:15px; line-height:20px;color:#000; text-transform: none;font-weight:300;}
.sws_termek_det_infok_lft{width:50%; float:left; display:inline-block; text-align:center;}
.sws_termek_det_infok_rgtt{width:49%; float:left; display:inline-block; text-align:center; margin:0px 0px 0px 1%;}

}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.topm_terdet_infoblokk_cont{width:98%; display:inline-block; text-align:center; position:relative; border-top:0px solid #873030;}
.topm_terdet_infoblokk_cont_ins{width:100%; display:inline-block; text-align:center; position:relative; margin:10px 0px 0px 0px;background-image: none;}
.sws_termek_det_infok_lft{width:100%; float:none; text-align:center; position:relative;}
.sws_termek_det_infok_rgtt{width:100%; float:none; text-align:center; position:relative;}
}

@media only screen and (max-width: 479px){

}
@media only screen and (max-width: 3000px) {
.sws_allmenu_main_cont{width:100%;height:50px; position:relative;border-top:1px solid #bfbfbf; clear:both; display:block;}
.sws_middle_header_cont{width:100%;height:150px; position:relative;}
.sws_middle_header_cont_logo_cont{width:9%; margin:0px 0px 0px 2%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.sws_middle_header_cont_logo_cont img{width:100%; max-width:100%; height:auto; border:0px;}
.sws_middle_header_cont_ad_cont{width:50%; margin:0px 0px 0px 15%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.sws_middle_header_cont_ad_cont img{max-height:120px; max-width:100%;  border:0px; float:left;}
.sws_middle_header_cont_ad_cont_text_cont{float:left; margin:35px 0px 0px 1%; width:auto;}
.back_count_text{font-family: 'Poppins', sans-serif;font-size: 14px; color:#333333; font-weight:600; text-transform:uppercase;}
.back_count_count{font-family: 'Poppins', sans-serif;font-size: 20px; color:#333333; font-weight:600; text-transform:uppercase;}
.back_count_count span{font-size:12px; font-weight:300;text-transform:none;}
.sws_middle_header_cont_search_cont{width:26%; margin:0px 0% 0px 0%; position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); right:7%;}

.topm_topmenu_middle_allcont_rgt_rgt{width:5%; position:absolute; right:32px;height:60px;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);display:inline-block; cursor:pointer; border:0px solid #666; z-index:20;}

.topm_topmenu_middle_allcont_rgt_rgt_for_cart_cont{position: absolute; z-index:10; background: rgba(255, 255, 255, 0.9); text-align:center; width:350%; border:1px solid #333; display:none; margin:55px 0px 0px -260%; }


.topm_topmenu_middle_allcont_rgt_left_rgt{width:30%; float:left;height:155px;position:relative;}
.topm_topmenu_middle_allcont_rgt_left_rgt_icon_cont{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:left;}
.topm_topmenu_middle_allcont_rgt_left_rgt_icon_cont img{width:80%; max-width:80%;  height:auto; border:0px; max-height:50px; width:auto;}
.topm_topmenu_middle_allcont_rgt_left_left{width:70%; float:left;height:155px;position:relative;}
.topm_topmenu_middle_allcont_rgt_left_left_ins{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:left;}
.topm_topmenu_middle_allcont_rgt_rgt_iconcont{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:left; }
.topm_topmenu_middle_allcont_rgt_rgt_number_cont{position:absolute; z-index:3; border-radius:50%; width:30px; height:30px; background-color:#b66e6e;  text-align:center; left:30px; top:-7px; display:table; border:3px solid #FFF;}
.topm_topmenu_middle_allcont_rgt_rgt_number_cont_ins{width:100%; text-align:center; display:table-cell; vertical-align:middle;font-family: 'Cabin', sans-serif;font-size: 14px; color:#fff;}

#tpm_lilt_kos_container{width:96%; margin:0px auto; display:inline-block; margin-top:10px; margin-bottom:10px;}
.tpm_lilt_kos_dbszam{font-family: 'Poppins', sans-serif;font-size: 14px; line-height:17px; color:#515151;margin:0px 0px 0px 0%;width:15%; float:left; text-align:center;}
.tpm_lilt_kos_termek_nev{font-family: 'Poppins', sans-serif;font-size: 14px; line-height:17px; color:#515151;margin:0px 0px 0px 0%;width:55%; float:left; text-align:left;}
.tpm_lilt_kos_termek_ar{font-family: 'Poppins', sans-serif;font-size: 14px; line-height:17px; color:#515151;margin:0px 0px 0px 0%;width:30%; float:left; text-align:right;}
.tpm_lilt_kos_termek_ar span{ color:#bd0000; font-weight:normal;font-family: 'Novecento', Verdana, Helvetica, sans-serif; font-size:17px;}
.tpm_lilt_kos_termek_full100{font-family: 'Poppins', sans-serif;font-size: 13px; line-height:15px; color:#515151;padding:10px 0px 0px 0%;width:100%; float:none; clear:both; text-align:right;}
.tpm_lilt_kos_termek_full100 span{ color:#bd0000; font-weight:normal;font-family: 'Cabin', Verdana, Helvetica, sans-serif; font-size:14px;}
.tpm_lilt_kos_szallitasi_dij{width:100%; margin:3px 0px 3px 0px;padding:0px 0px 5px 0px; display:inline-block; border-bottom:1px dashed #e7e7e7; text-align:right;font-family: 'Poppins', sans-serif;font-size: 15px; line-height:17px; color:#515151;}
.tpm_lilt_kos_szallitasi_dij span{ color:#bd0000; font-weight:normal;font-family: 'Cabin', Verdana, Helvetica, sans-serif; font-size:18px;}

.tpm_lilt_kos_vege_cont{width:100%; margin:3px 0px 3px 0px;padding:0px 0px 5px 0px; display:inline-block; border-bottom:2px solid #e7e7e7; text-align:center;}


.tpm_lilt_kos_vegosszeg_lft{float:left; width:50%; margin:3px 0px 3px 0px;padding:0px 0px 5px 0px; display:inline-block; text-align:left;font-family: 'Poppins', sans-serif;font-size: 17px; line-height:17px; color:#515151;}
.tpm_lilt_kos_vegosszeg_rgt{float:left; width:50%; margin:3px 0px 3px 0px;padding:0px 0px 5px 0px; display:inline-block; text-align:right;font-family: 'Poppins', sans-serif;font-size: 17px; line-height:17px; color:#515151;}
.tpm_lilt_kos_vegosszeg_rgt span{ color:#bd0000; font-weight:normal;font-family: 'Cabin', Verdana, Helvetica, sans-serif; font-size:20px;}
.tpm_lilt_kos_vegosszeg_fizetek{width:100%; background-color:#873030; height:50px; margin:5px 0px 5px 0px; position:relative; cursor:pointer;}
.tpm_lilt_kos_vegosszeg_fizetek_text{position:absolute; width:100%; z-index:1;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width:100%; text-align:center; color:#FFF; text-transform:uppercase;font-family: 'Poppins', Verdana, Helvetica, sans-serif;font-size:18px;}
.tpm_lilt_kos_vegosszeg_fizetek_text span{font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:17px; padding:0px 0px 0px 10px;}
.tpm_lilt_kos_item_blocks{width:100%; margin:3px 0px 3px 0px;padding:0px 0px 5px 0px; display:inline-block; border-bottom:1px dashed #e7e7e7;}

}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.sws_middle_header_cont{width:100%;height:auto; position:relative;}
.sws_middle_header_cont_logo_cont{width:100%; margin:10px 0px 0px 0%; position: relative;top: 0%; -webkit-transform: translateY(-0%);-ms-transform: translateY(-0%);transform: translateY(-0%); text-align:center;display:inline-block;}
.sws_middle_header_cont_logo_cont img{width:30%; max-width:30%; height:auto; border:0px; margin:0px auto;}
.sws_middle_header_cont_ad_cont{width:100%; margin:10px 0px 10px 0%; position:relative;top: 0%; -webkit-transform: translateY(-0%);-ms-transform: translateY(-0%);transform: translateY(-0%); display:inline-block;}
.sws_middle_header_cont_ad_cont_text_cont{float:none; margin:25px 0px 0px 4%; width:auto; text-align:left;padding:10px 0px 0px 0%;}
.sws_middle_header_cont_search_cont{width:94%; margin:0px 0% 10px 4%; position:relative;top: 0%; -webkit-transform: translateY(-0%);-ms-transform: translateY(-0%);transform: translateY(-0%); right:0%; display:inline-block;}
.sws_allmenu_main_cont{width:100%;height:50px; position:relative;border-top:1px solid #bfbfbf; clear:both; display:none;}

.topm_topmenu_middle_allcont_rgt_rgt{width:12%; position:absolute; right:1%;height:60px;top: 9%; -webkit-transform: translateY(-9%);-ms-transform: translateY(-9%);transform: translateY(-9%);display:inline-block; cursor:pointer; border:0px solid #666; z-index:20;}

}

@media only screen and (max-width: 479px){
.sws_middle_header_cont_logo_cont img{width:40%; max-width:40%; height:auto; border:0px; margin:0px auto;}
.topm_topmenu_middle_allcont_rgt_rgt{width:20%; position:absolute; right:0px;height:60px;top: 7%; -webkit-transform: translateY(-7%);-ms-transform: translateY(-7%);transform: translateY(-7%);display:inline-block; cursor:pointer; border:0px solid #666; z-index:20;}
.sws_middle_header_cont_ad_cont_text_cont{float:none; margin:0px 0px 0px 0%; width:auto; text-align:center;padding:10px 0px 0px 0%;}
}

@media only screen and (max-width: 3000px) {
	
.sub_begin_ads_float_50_cont{width:49.7%; float:left; height:310px; overflow:hidden; position:relative; cursor:pointer;}
.sub_begin_ads_float_50_divider{width:0.6%; float:left; height:310px; overflow:hidden; position:relative; cursor:pointer;content: " ";}

.sub_begin_ads_float_50_cont_ins{width:100%; height:310px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.sub_begin_ads_center_inside_text{position:absolute; z-index:2; bottom:0%; transform: translate(-50%, -50%);left: 50%; text-align:left;  padding:10px 15px 10px 15px;background: rgba(69, 69, 69, 0.9);font-family: 'Poppins', sans-serif;font-size:15px;color:#ffffff; text-align:center; line-height:20px; font-weight:400; text-transform:uppercase; letter-spacing:0.5px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; text-transform:uppercase; }
.sub_begin_ads_center_inside_text a{color:#ffffff;text-decoration:none;}
.sub_begin_ads_center_inside_text a:hover{color:#ffffff;text-decoration:none;}

.sub_begin_ads_float_50_cont:hover .sub_begin_ads_float_50_cont_ins{transform: scale(1.1);}
.sub_begin_ads_float_50_cont:hover .sub_begin_ads_center_inside_text{background: rgba(182, 110, 110, 0.9); color:#FFF;}	
	
.tpm_lilt_kos_empty_text{font-family: 'Poppins', sans-serif;font-size: 16px; line-height:17px; color:#515151;margin:0px 0px 0px 0%;width:100%;text-align:center;}
.begin_ads_float_50_divider{width:0.4%; float:left; height:310px; overflow:hidden; position:relative; cursor:pointer;content: " ";}
.begin_ads_float_50_divider_btn{width:0.4%; float:left; height:310px; overflow:hidden; position:relative; cursor:pointer;content: " ";}
.begin_ads_float_50_cont{width:49.8%; float:left; height:310px; overflow:hidden; position:relative; cursor:pointer;}
.begin_ads_float_50_cont_ins{width:100%; height:310px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}

.begin_ads_center_inside_text{position:absolute; z-index:2; bottom:4%; transform: translate(-50%, -50%);left: 50%; text-align:left;  padding:10px 20px 10px 20px;background: rgba(69, 69, 69, 0.9);font-family: 'Poppins', sans-serif;font-size:17px;color:#ffffff; text-align:center; line-height:20px; font-weight:400; text-transform:uppercase; letter-spacing:0.5px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; text-transform:uppercase; }
.begin_ads_center_inside_text a{color:#ffffff;text-decoration:none;}
.begin_ads_center_inside_text a:hover{color:#ffffff;text-decoration:none;}
.begin_ads_float_50_cont:hover .begin_ads_float_50_cont_ins{transform: scale(1.1);}
.begin_ads_float_50_cont:hover .begin_ads_center_inside_text{background: rgba(182, 110, 110, 0.9); color:#FFF;}

}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.begin_ads_float_50_divider{width:0.4%; float:left; height:250px; overflow:hidden; position:relative; cursor:pointer;content: " ";}
.begin_ads_float_50_cont{width:49.8%; float:left; height:250px; overflow:hidden; position:relative; cursor:pointer;}
.sub_begin_ads_float_50_cont_ins{width:100%; height:250px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.sub_begin_ads_float_50_cont{width:49.7%; float:left; height:250px; overflow:hidden; position:relative; cursor:pointer;}
.sub_begin_ads_float_50_divider{width:0.6%; float:left; height:250px; overflow:hidden; position:relative; cursor:pointer;content: " ";}
.sub_begin_ads_center_inside_text{width:90%;position:absolute; z-index:2; bottom:6%; transform: translate(0%, 0%);left: 0%; text-align:left;  padding:10px 0px 10px 0px;background: rgba(69, 69, 69, 0.9);font-family: 'Poppins', sans-serif;font-size:14px;color:#ffffff; text-align:center; line-height:17px; font-weight:400; text-transform:uppercase; letter-spacing:0.5px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; text-transform:uppercase; margin:0px 0px 0px 5%;}
}

@media only screen and (max-width: 479px){
.begin_ads_float_50_divider{width:0%; float:none; height:5px; overflow:hidden; position:relative; cursor:pointer;content: " ";}
.begin_ads_float_50_cont{width:100%; float:none; height:150px; overflow:hidden; position:relative; cursor:pointer;}
.sub_begin_ads_float_50_cont{width:49.7%; float:left; height:150px; overflow:hidden; position:relative; cursor:pointer;}
.sub_begin_ads_float_50_cont_ins{width:100%; height:150px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.sub_begin_ads_center_inside_text{width:90%;position:absolute; z-index:2; bottom:10%; transform: translate(0%, 0%);left: 0%; text-align:left;  padding:10px 0px 10px 0px;background: rgba(69, 69, 69, 0.9);font-family: 'Poppins', sans-serif;font-size:12px;color:#ffffff; text-align:center; line-height:14px; font-weight:400; text-transform:uppercase; letter-spacing:0.5px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; text-transform:uppercase; margin:0px 0px 0px 5%;}
}

@media only screen and (max-width: 3000px) {
.sws_allmenu_main_cont_formobil{ width:100%; display: none; text-align:center; position:relative; margin:0px 0px 0px 0px;}
.inside_partners_kezd_tag_block_inside{width:20%;float:left; text-align:center; margin:0px 0px 0px 0%;border:0px solid #333; display:inline-block; overflow:hidden; margin:0px 0px 20px 0px;}
}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.sws_allmenu_main_cont_formobil{ width:100%; display: inline-block; text-align:center; position:relative; margin:0px 0px 10px 0px;}
.inside_partners_kezd_tag_block_inside{width:50%;float:left; text-align:center; margin:0px 0px 0px 0%;border:0px solid #333; display:inline-block; overflow:hidden; margin:0px 0px 20px 0px;}
}

@media only screen and (max-width: 479px){
}
@media only screen and (max-width: 3000px) {
.usr_prof_form_item_cont{ width:100%; display:inline-block; text-align:center; margin:10px 0px 10px 0px;}
.tpom_carts_no_signin_cont{width:100%; display:inline-block; text-align:center; margin:0px auto; background-color:#f2f2f2; margin:20px 0px 20px 0px;}
.tpom_carts_no_signin_cont_ins{width:96%; margin:0px auto; display:inline-block; margin:0px 0px 10px 0px;}

.info_red{
	color:#b66e6e !important; 
}
.tpom_carts_no_signin_login_button{
	font-family: 'Poppins', sans-serif;
    font-size: 20px;
	color:#FFF;
	background-color:#000;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	font-weight:400;
	padding:4px 20px 4px 20px;
	border:1px solid #000;
	cursor:pointer;
	font-weight:400;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.tpom_carts_no_signin_login_button:hover{
	color:#000;
	background-color:#FFF;
	border:1px solid #000;
}
.tpom_carts_no_signin_login_button_red{
	font-family: 'Poppins', sans-serif;
    font-size: 20px;
	color:#FFF;
	background-color:#b66e6e;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	font-weight:400;
	padding:4px 20px 4px 20px;
	border:1px solid #b66e6e;
	cursor:pointer;
	font-weight:400;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.tpom_carts_no_signin_login_button_red:hover{
	color:#b66e6e;
	background-color:#FFF;
	border:1px solid #b66e6e;
}
.tpom_carts_no_signin_infotext_button_cont{ width:100%; text-align:center; margin:5px 0px 5px 0px;}
.tpom_carts_no_signin_infotext{width:100%; text-align:center;font-family: 'Poppins', sans-serif;font-size: 24px; line-height:28px;color:#000; font-weight:normal; font-style:normal; text-transform:uppercase; margin:20px 0px 10px 0px; }

.topm_userprofil_title{width:100%; text-align:center;font-family: 'Poppins', sans-serif; font-size:25px; line-height:35px; color:#b66e6e; text-transform:uppercase; margin:0px 0px 0px 0px; border-bottom:1px dashed #e6e6e6; padding:0px 0px 0px 0px;}

.tpmrka_cart_item_dividers{width:90%; display:inline-block; text-align:center; margin:0px auto;}
.tpom_carts_cartin_cont{width:100%; display:inline-block; text-align:center; margin:0px auto; background-color:#f4f4f4;}


.usr_prof_form_item_cont_lft{ width:45%; float:left; text-align:right;font-family: 'Poppins', sans-serif;font-size: 16px; line-height:20px;color:#454545; font-weight:normal; font-style:normal; padding:4px 0px 0px 0px;position:relative;}
.usr_prof_form_item_cont_lft span{ color:#bd0000;font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:10px; vertical-align:super;}

.usr_prof_form_item_cont_lft a{color:#bd0000;background-color:transparent; font-weight:normal; font-size:16px;padding:0px 2px 0px 2px;text-decoration:none;-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;}
.usr_prof_form_item_cont_lft a:hover{color:#FFFFFF; background-color:#bd0000;padding:0px 2px 0px 2px;text-decoration:none;}

.usr_prof_form_item_cont_rgt{ width:53%; margin-left:2%; float:left; text-align:left;font-family: 'Poppins', sans-serif;font-size: 12px; line-height:20px;color:#cf0000; font-weight:normal; font-style:normal; position:relative;}

input.pr_rounded {
	font-family: 'Poppins', sans-serif;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 0px #ebb1b1;
    -webkit-box-shadow: 0px 0px 0px #ebb1b1;
    box-shadow: 0px 0px 0px #ebb1b1;
    font-size: 14px;
	color:#5e5e5e;
    padding: 2px 1px 2px 6px;
    outline: 0;
    -webkit-appearance: none;
	text-align:left;
	background-color:#FFFFFF;
	width:80%;
	height:26px;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
input.pr_rounded:focus {
    border-color: #df0000;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
}

textarea.pr_rounded {
	font-family: 'Poppins', sans-serif;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 0px #ebb1b1;
    -webkit-box-shadow: 0px 0px 0px #ebb1b1;
    box-shadow: 0px 0px 0px #ebb1b1;
    font-size: 14px;
	color:#5e5e5e;
    padding: 2px 1px 2px 6px;
    outline: 0;
    -webkit-appearance: none;
	text-align:left;
	background-color:#FFFFFF;
	width:80%;
	max-width:80%;
	min-width:80%;
	height:100px;
	max-height:100px;
	min-height:100px;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
textarea.pr_rounded:focus {
    border-color: #df0000;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
}
#tpmrka_cart_item_dividers_for_afa{width:100%; display:inline-block; text-align:center; margin:0px auto;display:none; background-color:#f2f2f2;}
.kossend_hiba_allcont{position:absolute;  margin:25px 0px 0px -7px; display:none; z-index:1;}

.kossend_hiba_text_img{width:100%;}
.kossend_hiba_text_img img{width:20px; height:10px; margin:0px 0px 0px 7px;}
.kossend_hiba_text{width:100%; background-color:#FFF; border:1px solid #cf0000; padding:4px 10px 4px 10px; margin:-1px 0px 0px 0px;font-family: 'Poppins', sans-serif;font-size: 12px; line-height:20px;color:#cf0000; font-weight:normal; font-style:normal; text-align:left;}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #f0e0e0;
	border: 1px solid #b66e6e;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #f0e0e0;
	border: 1px solid #b66e6e;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -9px;
	left: 3px;
	color: #b66e6e;
}

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #f0e0e0;
	border: 1px solid #b66e6e;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 30px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 30px;
	position: absolute;
	top: 3px;
	background: #b66e6e;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 16px;
}

.regular-radio:checked + label {
	background-color: #f0e0e0;
	color: #b66e6e;
	border: 1px solid #b66e6e;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.usr_prof_form_item_cont_100_center{ width:100%; text-align:center; display:inline-block;font-family: 'Poppins', sans-serif;font-size: 16px; line-height:20px;color:#454545; font-weight:normal; font-style:normal;}

.txtleft{
	text-align:left !important; 
}
.tpop_check_cont_lft{width:5%; float:left; text-align:left;}
.tpop_check_cont_rgt{width:95%; float:left; text-align:left;font-family: 'Poppins', sans-serif;font-size: 16px; line-height:20px;color:#454545; font-weight:normal; font-style:normal;}
.side_lft_listitem_chek{width:10%; float:left; text-align:center;padding:3px 0px 0px 0%;}
.topm_userprofil_title_for_afas_szamla{position:absolute; right:5%; z-index:1; margin:9px 0px 0px 0px;}

.regularcheckbox_red {
	display: none;
}

.regularcheckbox_red + label {
	background-color: #fff9f9;
	border: 1px solid #bd0000;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regularcheckbox_red + label:active, .regularcheckbox_red:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regularcheckbox_red:checked + label {
	background-color: #fff9f9;
	border: 1px solid #bd0000;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regularcheckbox_red:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -2px;
	left: 3px;
	color: #bd0000;
}
.kosar_button_nextstep{
	font-family: 'Poppins', sans-serif;
    font-size: 24px;
	color:#FFF;
	background-color:#bd0000;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	font-weight:400;
	padding:8px 30px 8px 30px;
	border:1px solid #bd0000;
	cursor:pointer;
	font-weight:400;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.kosar_button_nextstep:hover{
	color:#bd0000;
	background-color:#FFF;
	border:1px solid #bd0000;
}
.pr_rounded_little_20{
	width:20% !important; 
}
}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.pr_rounded_little_20{
	width:30% !important; 
}
}

@media only screen and (max-width: 479px){
.topm_userprofil_title{width:100%; text-align:center;font-family: 'Poppins', sans-serif; font-size:18px; line-height:25px; color:#b66e6e; text-transform:uppercase; margin:0px 0px 0px 0px; border-bottom:1px dashed #e6e6e6; padding:0px 0px 0px 0px;}
.kosar_button_nextstep{
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
	color:#FFF;
	background-color:#bd0000;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	font-weight:400;
	padding:8px 20px 8px 20px;
	border:1px solid #bd0000;
	cursor:pointer;
	font-weight:400;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.kosar_button_nextstep:hover{
	color:#bd0000;
	background-color:#FFF;
	border:1px solid #bd0000;
}
.tpop_check_cont_lft{width:10%; float:left; text-align:left;}
.tpop_check_cont_rgt{width:90%; float:left; text-align:left;font-family: 'Poppins', sans-serif;font-size: 14px; line-height:20px;color:#454545; font-weight:normal; font-style:normal;}
.usr_prof_form_item_cont_lft{ font-size: 14px; line-height:17px;}
.topm_userprofil_title_for_afas_szamla{position:absolute; right:5%; z-index:1; margin:1px 0px 0px 0px;}
}
@media only screen and (max-width: 3000px) {
.jelentkezes_form_inputs_cont{width:60%; display:inline-block; margin:0px 0px 10px 0px; text-align:left;}
.abc_formsendbutton{
	font-family: 'Poppins', Verdana, Helvetica, sans-serif;
    font-size: 14px;
	color:#FFFFFF;
	background-color:#000;
	text-decoration:none;
	border:1px solid #53186c;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	border-radius:3px;	
	text-align:center;
	padding:16px 0px 15px 0px;
	cursor:pointer;
	font-weight:normal;
	width:100%;
	text-transform:uppercase;
	-webkit-transition: 0.3s ease-in-out all;-moz-transition: 0.3s ease-in-out all;-o-transition: 0.3s ease-in-out all;transition: 0.3s ease-in-out all;
}
.abc_formsendbutton:hover{
	color:#000;
	background-color:#ececec;
	border:1px solid #000;
}
.jelentkezes_form_form_input{width:100%;text-align:left; margin:15px 0px 0px 0%; position:relative;}
.jelentkezes_form_title{width:100%;font-family: 'Poppins', sans-serif;font-size: 20px; line-height:22px;color:#4a4a4a; font-weight:normal; font-style:normal; text-align:left; margin:15px 0px 0px 0%;}
.jelentkezes_form_title a{ color:#c89bdb;padding:2px 3px 2px 3px; background-color:transparent;-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all; font-weight:700;}
.jelentkezes_form_title a:hover{color:#e6cef0; background-color:transparent;}
.jelentkezes_form_title span{font-family: 'Poppins', sans-serif;color:#c20000; font-weight:normal;}

input.rounded_jelentkezes {
	font-family: 'Poppins', sans-serif;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 0px #ebb1b1;
    -webkit-box-shadow: 0px 0px 0px #ebb1b1;
    box-shadow: 0px 0px 0px #ebb1b1;
    font-size: 14px;
	color:#5e5e5e;
    padding: 2px 1px 2px 6px;
    outline: 0;
    -webkit-appearance: none;
	text-align:left;
	background-color:#FFFFFF;
	width:99%;
	height:34px;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
input.rounded_jelentkezes:focus {
    border-color: #df0000;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
}
textarea.rounded_jelentkezes {
	font-family: 'Poppins', sans-serif;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 0px #ebb1b1;
    -webkit-box-shadow: 0px 0px 0px #ebb1b1;
    box-shadow: 0px 0px 0px #ebb1b1;
    font-size: 14px;
	color:#5e5e5e;
    padding: 2px 1px 2px 6px;
    outline: 0;
    -webkit-appearance: none;
	text-align:left;
	background-color:#FFFFFF;
	width:98%;
	max-width:98%;
	min-width:98%;
	height:240px;
	max-height:240px;
	min-height:240px;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
textarea.rounded_jelentkezes:focus {
    border-color: #df0000;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
	box-shadow: 0px 0px 4px 2px rgba(248,98,98,0.4);
}
.jelentkezes_hiba_allcont{position:absolute;  margin:37px 0px 0px 0px; display:none; z-index:1;}

.contat_hiba_text_img{width:100%;}
.contat_hiba_text_img img{width:20px; height:10px; margin:0px 0px 0px 7px;}
.contat_hiba_text{width:100%; background-color:#FFF; border:1px solid #cf0000; padding:4px 10px 4px 10px; margin:-1px 0px 0px 0px;font-family: 'Poppins', sans-serif;font-size: 12px; line-height:20px;color:#cf0000; font-weight:normal; font-style:normal; text-align:left;}	


}

@media only screen and (max-width: 1024px) { 

}


@media only screen and (max-width: 768px){
.jelentkezes_form_inputs_cont{width:80%; display:inline-block; margin:0px 0px 10px 0px; text-align:left;}
}

@media only screen and (max-width: 479px){
.jelentkezes_form_title{width:100%;font-family: 'Poppins', sans-serif;font-size: 15px; line-height:18px;color:#4a4a4a; font-weight:normal; font-style:normal; text-align:left; margin:15px 0px 0px 0%;}
}