a {text-decoration:none;}

@font-face {
    font-family: 'awesome';
        src: url('fontawesome-webfont.eot'); /* IE9 Compat Modes */
        src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fontawesome-webfont.svg#awesome') format('svg'); /* Legacy iOS */
}

/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'awesome';
            src: url('fontawesome-webfont.svg#awesome') format('svg');
    }
}
.bla{width:100%;text-align:left;font-family: 'awesome', sans-serif; font-size:34px; color:#b40923; }
.button_delete{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size: 12px;
	color:#FFFFFF;
	background-color:#b40923;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:2px 4px 2px 4px;
	border:1px solid #b40923;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_delete:hover{
	color:#b40923;
	background-color:#FFFFFF;
	border:1px solid #b40923;
}
.button_photo{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size: 12px;
	color:#FFFFFF;
	background-color:#0b5607;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:2px 4px 2px 4px;
	border:1px solid #0b5607;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_photo:hover{
	color:#0b5607;
	background-color:#FFFFFF;
	border:1px solid #0b5607;
}
.button_mod{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size: 12px;
	color:#FFFFFF;
	background-color:#074c87;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:2px 4px 2px 4px;
	border:1px solid #074c87;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_mod:hover{
	color:#074c87;
	background-color:#FFFFFF;
	border:1px solid #074c87;
}
.button_save{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size: 16px;
	color:#FFFFFF;
	background-color:#b40923;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:6px 6px 6px 6px;
	border:1px solid #b40923;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_save:hover{
	color:#b40923;
	background-color:#FFFFFF;
	border:1px solid #b40923;
}
.button_setting{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size: 16px;
	color:#FFFFFF;
	background-color:#5a5a5a;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:6px 6px 6px 6px;
	border:1px solid #5a5a5a;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_setting:hover{
	color:#5a5a5a;
	background-color:#FFFFFF;
	border:1px solid #5a5a5a;
}
@media only screen and (max-width: 3000px) {
.megerdel_block{ width:80%; display:inline-block; padding:4px 0px 4px 0px; margin:0px auto; }
.logon_block_left{ width:100%; font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size: 14px;color:#565656; text-align:left; padding-bottom:10px;}
.logon_block_left span{font-size: 12px;color:#b40923;}
.logon_block_rgt{ width:100%;text-align:left; padding-bottom:10px;}
input.rounded_logi {
	font-family:"awesome", Verdana, Helvetica;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 1px 1px 1px #cccccc;
    -webkit-box-shadow: 1px 1px 1px #cccccc;
    box-shadow: 1px 1px 1px #cccccc;
    font-size: 13px;
	color:#7d7d7d;
    padding: 2px 3px;
    outline: 0;
    -webkit-appearance: none;
	text-align:left;
	background-color:#dcdcdc;
	width:90%;
	height:20px;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
input.rounded_logi:focus {
    border-color: #a00000;
}
.button_login{
	font-family: 'awesome', Verdana, Helvetica, sans-serif;
    font-size:16px;
	color:#FFFFFF;
	background-color:#b40923;
	text-decoration:none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	border-radius:0px 0px 0px 0px;	
	text-align:center;
	padding:5px 6px 3px 6px;
	border:1px solid #b40923;
	cursor:pointer;
	font-weight:400;
	text-transform:uppercase;
	-webkit-transition: 0.2s ease-in-out all;-moz-transition: 0.2s ease-in-out all;-o-transition: 0.2s ease-in-out all;transition: 0.2s ease-in-out all;
}
.button_login:hover{
	color:#b40923;
	background-color:#FFFFFF;
	border:1px solid #b40923;
}
.administr_text{width:100%; display:inline-block;font-family: 'awesome', Verdana, Helvetica, sans-serif;font-size:18px;color:#757575; text-align:center; border-top:1px solid #757575; padding-top:5px; text-transform:uppercase;}
#allblock{width:100%; position:relative; display:inline-block; text-align:center;}
.login_box{position:absolute;top: 50%; -webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); text-align:center; width:40%; margin-left:30%;box-shadow: 5px 5px 5px #cbcbcb, 0 0 15px #a7a7a7; border:0px solid #CCCCCC; background-color:#efefef;}
.logon_box_sub{width:100%; display:inline-block; margin:20px 0px 20px 0px;}
#ad_left_sd {width:40%; display:table; float:left; border-right:1px solid #999999; text-align:center;}
.logo_holder{display:table-cell; vertical-align:middle; width:100%; text-align:center;}
.logo_holder_cont{display: inline-block; width:80%; margin-left:10%; margin:0px auto;}
.logo_holder_cont_img_cont{width:100%; display:inline-block; padding:0px 0px 10px 0px; text-align:center;}
.logo_holder_cont_img_cont img{width:100%; height:auto; max-width:100%;}
#ad_rgt_sd{width:58%; float:left; text-align:center; display:inline-block;}
}

@media only screen and (max-width: 1024px) { 
#ad_left_sd {width:100%; display:table; float:none; border-right:0px solid #999999; text-align:center;}
#ad_rgt_sd{width:100%; float:none; text-align:center; display:inline-block;}
.logo_holder_cont_img_cont img{width:60%; height:auto; max-width:60%;}
}